
@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

.timeline-container {
  position: relative;
  height: 60px;
  margin: 40px 0;
  width: 100%;
}

.timeline-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 8px;
  background-color: #ccc;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.timeline-event {
  position: absolute;
  top: 50%;
  transform: translate(-30%, -30%);
  text-align: center;
  z-index: 2;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 auto;
}

.dot:hover {
  width: 24px;
  height: 24px;
}

.label {
  font-size: 12px;
  margin-bottom: 4px;
}

.date {
  font-family: 'Lato Regular';
  font-size: 10px;
  color: gray;
}

.timeline-tick {
  position: absolute;
  top: 50%;
  transform: translate(-30%, -30%);
  text-align: center;
  z-index: 1;
}

.tick-mark {
  width: 5px;
  height: 20px;
  background-color: black;
  margin: 0 auto;
}

.tick-label {
  font-family: 'Lato Regular';
  font-size: 10px;
  color: white;
  margin-top: 2px;
  transform: translateY(15px);
}
