
/* Fonts and texts */

@font-face {
    font-family: 'Lato Regular';
    src: url('./fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Semibold';
    src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('./fonts/Poppins-Medium.ttf') format('truetype');
}

h1 {
    text-align: left;
    color: white;
    font-family: 'Poppins Semibold';
    font-size: 35px;
    text-shadow: 4px 4px 5px black;
}

h2 {
    font-family: 'Poppins Semibold';
    color: white;
    font-size: 30px;
}

h3 {
    font-family: 'Poppins Semibold';
    color: white;
    font-size: 25px;
}

h4 {
    font-family: 'Poppins Semibold';
    color: white;
    font-size: 20px;
}

p {
    font-family: 'Lato Regular';
    color: white;
    font-size: 16px;
}

@media only screen and (max-width: 800px) {
    h1 { font-size: 30px; }
    h2 { font-size: 25px; }
    h3 { font-size: 20px; }
    h4 { font-size: 14px; }
    p { font-size: 14px; }
}


/* Main components */

.mainapp {
    position: relative;
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% auto;
    overflow: auto;
    width: 100%;
    height: auto;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    background-color: black;
    border-bottom: 2px solid gray;
}

.banner > p {
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}

.nav {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    border-bottom: 2px solid gray;
}

.subnav {
    display: flex;
    justify-content: space-around;
}

.main {
    margin: 20px;
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: transparent;
}

@media only screen and (max-width: 1000px) {
    .mainapp {
        background-repeat: repeat;
    }
    .main {
        margin-left: 1%;
    }
    .banner {
        justify-content: space-around;
        margin-left: 0;
        margin-right: 0;
    }
    .banner > p {
        width: 50%;
    }
}


/* Nav buttons */

.navbutton {
    padding: 10px;
    color: white;
    font-family: 'Poppins Medium';
    font-size: 20px;
    background-color: #3F0207;
    margin-bottom: 10px;
    width: 300px;
    border-radius: 5px;
}

.navbutton:hover,
.navbutton:focus {
    background-color: #3F2207;
}

.bar {
    border-bottom: 10px gray solid;
}

@media only screen and (max-width: 800px) {
    .navbutton {
        display: block;
        font-size: 16px;
    }
}


/* Base styles */

.base {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
}

.basefeed {
    display: flex;
    justify-content: space-around;
}

.leftbase {
    width: 20%;
}

.centerbase {
    width: 60%;
    padding-left: 5%;
    padding-right: 5%;
    border-left: 1px lightgray solid;
    border-right: 1px lightgray solid;
    border-radius: 10px;
}

.centerbase.asc {
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.2) 0%, 
        rgba(255, 255, 255, 0) 100%
    );
}

.centerbase.dsc {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.2) 0%, 
        rgba(255, 255, 255, 0) 100%
    );
}

.rightbase {
    width: 20%;
    padding-left: 20px;
}

.basevideo {
    height: 90%;
    width: 90%;
    min-height: 200px;
    min-width: 200px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #3F2207;
    border: 2px solid gray;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
}

.basevideo:hover,
.basevideo:focus {
    background: #3F2D17;
}

.videoname {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;
}

.videoname > h4 {
    color: deepskyblue;
    padding-left: 10px;
}

.film-image {
    padding-top: 2%;
    padding-right: 10px;
    height: 50px;
    width: 50px;
}

.x-image {
    cursor: pointer;
}

.basevideo > p {
    padding-left: 20px;
}

.videoactor {
    display: inline-block;
    justify-content: space-between;
    text-align: justify;
    margin-right: 20px;
}

.videoactor > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.basebottom {
    background-color: gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 90%;
    min-width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.basedate {
    color: deepskyblue;
    font-family: 'Poppins Medium';
    font-size: 18px;
}

@media only screen and (max-width: 800px) {
    .basefeed { display: inline-block; }
    .leftbase { 
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        border: 0;
    }
    .newviewbutton {
        min-width: 100px;
    }
    .centerbase { 
        width: 100%;
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 0;
        border: 0px;
        border-radius: 10px;
    }
    .rightbase { 
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        border: 0;
        margin-top: 20px;
    }
    .basevideo {
        padding: 10px;
        height: 80%;
        width: 85%;
        min-width: 75px;
    }
    .basebottom { 
        width: 80%; 
        min-width: 60%; 
    }
    .basedate { font-size: 14px; }
    .film-image { 
        padding-right: 0;
        height: 35px;
        width: 35px;
    }
}


/* Timeline styles */

.timelinefeed {
    position: relative;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
}

.timelineview {
    position: absolute;
    top: 20%;
    left: 40%;
    z-index: 1000;
}

.timelinevideo {
    height: 90%;
    width: 90%;
    min-height: 300px;
    min-width: 400px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #3F2207;
    border: 2px solid gray;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
}

.timelinevideo:hover,
.timelinevideo:focus {
    background: #3F2D17;
}

@media only screen and (max-width: 800px) {
    .timelineview {
        position: absolute;
        top: 20%;
        left: 5%;
        z-index: 1000;
    }
    .timelinevideo {
        min-height: 200px;
        min-width: 200px;
    }
    strong {
        font-size: 12px;
    }
}


/* Message icon */

.messageicon {
    cursor: pointer;
    bottom: 7px;
    height: 30px;
    width: 30px;
}

.messageicon:hover {
    background-color: gray;
    border-radius: 10px;
}

.image-container {
    position: relative;
    display: inline-block;
    margin-left: 90%;
    margin-right: 10%;
}

.image-container img {
    display: block;
    height: auto;
}

.image-container .centered-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: 'Lato Regular';
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
}

@media only screen and (max-width: 800px) {
    .image-container .centered-text {
        font-size: 12px;
    }
}


/* Message styles */

.messagetop {
    border-top: 2px solid black;
    background-color: white;
    padding: 10px;
    padding-bottom: 0px;
}

.messageup {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    border-bottom: 1px solid gray;
}

.messageup:hover {
    background-color: rgb(200, 200, 200);
}

.messageuser {
    text-align: left;
    padding: 0px;
    margin: 0;
    font-size: 10px;
    font-weight: bold;
}

.messageuser > p {
    color: black;
}

.messagedate {
    padding-top: 10px;
    padding-left: 30%;
}

.messagedate > p {
    padding: 0px;
    margin: 0;
    color: black;
    font-size: 10px;
    font-weight: bold;
}

.messagetop > h4 {
    color: brown;
    font-size: 18px;
}

.messagetop > p {
    color: black;
    font-size: 14px;
}

.replybutton {
    background-color: lightgray;
    color: black;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 5px;
    max-height: 30px;
    font-family: 'Poppins Medium';
}

.replybutton:hover {
    background-color: lightgreen;
    border-radius: 7px;
    font-weight: bold;
}

.basemessage {
    margin-left: 20%;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    color: black;
    width: 60%;
    min-width: 150px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.basemessage.open {
    display: block;
    border: 2px solid black;
    transform: translateY(0);
}

.basemessage.closed {
    transform: translateY(-100%);
    transition: transform 5s ease-in;
    z-index: 1000; 
}

.timelinemessage {
    position: absolute;
    top: 77%;
    left: 40%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    color: black;
    width: 30%;
    min-width: 150px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1000;
}

.messagetop:hover {
    background-color: lightgray;
    font-weight: bold;
}

.topbuttons {
    display: flex;
    justify-content: space-evenly;
}

.topbuttons > button {
    padding: 10px;
    font-family: 'Poppins Medium';
    font-size: 20px;
    background-color: lightgray;
    color: black;
    border: 2px solid gray;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 100%;
}

.topbuttons > button:hover {
    color: black;
    font-weight: bold;
}

.commbutton:hover {
    background-color: lightgreen;
}

.commclosebutton:hover {
    background-color: lightsalmon;
}

@media only screen and (max-width: 800px) {
    .topbuttons > button {
        font-size: 12px;
        border-radius: 10px;
    }
    .basemessage {
        width: 70%;
        margin-left: 10%;
    }
    .timelinemessage {
        position: absolute;
        top: 62%;
        left: 10%;
        width: 50%;
    }
    .messagedate {
        padding-left: 25%;
    }
    .messagetop > h4 { font-size: 14px; }
    .messagetop > p { font-size: 12px; }
}


/* Reaction styles */

.reactions {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid gray;
}

.reaction {
    display: inline-block;
}

.reaction-container > img {
    height: 30px;
    width: 30px;
}

.reaction-container > img:hover {
    background-color: gray;
    border-radius: 10px;
}

.reaction-container .side-text {
    position: relative;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: 'Lato Regular';
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
}

.reaction-container .whitetext {
    color: transparent;
}

@media only screen and (max-width: 800px) {
    .reaction-container > img {
        height: 20px;
        width: 20px;
    }
    .reaction-container .side-text { font-size: 12px; }
}


/* Addcomment and basic form styles */

.newcomment {
    margin-left: 20%;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.newcomment.open {
    position: absolute;
    bottom: 50%;
    right: -50%;
    display: block;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.newcomment.closed {
    display: none;
}

.newcomment > * > h4 {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.formfield {
    flex: 1;
    display: grid;
    grid-template-columns: [labels] 0.5fr [controls] 1fr;
    grid-auto-flow: row;
}

.formfield > label {
    grid-column: labels;
    padding: 5px;
    font-family: 'Lato Regular';
    font-size: 14px;
}

.formfield > input,
.formfield > .styled-editor,
.formfield > select {
    grid-column: controls;
    padding: 5px;
    margin-bottom: 5px;
    font-family: 'Lato Regular';
    font-size: 12px;
}

.styled-editor {
    width: 300px;
    height: 120px;
    max-height: 250px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    overflow-y: auto;
    white-space: pre-wrap;
}

.formfield > button {
    background-color: lightgray;
    color: black;
    font-family: 'Poppins Medium';
    padding: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: 2px solid gray;
    border-radius: 5px;
    max-height: 30px;
}

.sendbutton:hover {
    background-color: lightgreen;
    border-radius: 7px;
    font-weight: bold;
}

.closebutton:hover {
    background-color: lightsalmon;
    border-radius: 7px;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .newcomment.open {
        right: 0;
    }
    .formfield > textarea {
        height: 80px;
    }
}


/* Add view */

.newviewbutton {
    justify-content: center;
    margin-right: 10px;
}

.newviewbutton > button {
    background-color: #3F2D17;
    font-size: 14px;
    width: 90%;
}

.newview {
    margin-left: 20%;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 30%;
    min-width: 300px;
}

.newview.open {
    position: sticky;
    bottom: 80%;
    right: 20%;
    display: block;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 1000;
}

.newview.closed {
    display: none;
}

.newview > * > h4 {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

@media only screen and (max-width: 800px) {
    .newview.open {
        right: 0%;
    }
}


/* Interaction-subpage styles */

.interaction {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    border-bottom: 2px solid gray;
}


/* Images */

.mediasocial {
    width: 200px;
}

.filmlogo {
    width: 200px;
}

.arrowicon {
    height: 30px;
    width: 30px;
}

@media only screen and (max-width: 800px) {
    .mediasocial {
        width: 25%;
    }
    .filmlogo {
        width: 25%;
    }
}


/* Datepicker */

.react-datepicker {
    width: 200px !important;
}

.react-datepicker__month-container {
    width: 200px !important;
}

.react-datepicker__time-container {
    width: 200px !important;
}

.react-datepicker__time-box {
    width: 200px !important;
}

.react-datepicker__time-list {
    width: 190px !important;
}
